@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
html {
	min-height: 100vh; /* sticky footer */
	scroll-behavior: smooth;
}

body {
	min-height: 100vh; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */

	font-family: "Forum", cursive;
	line-height: 1;
	text-rendering: optimizeSpeed;
	//text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

.none {
	display: none !important;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width: 1139px) {
	}
	@media (max-width: 899px) {
	}
	@media (max-width: 599px) {
	}
}

.visually-hidden {
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

.footer {
	margin-top: auto; /* sticky footer */
}
