.slider {
    // width: 900px;
    // height: 600px;
    background-color: #272727;
    // margin: 0 auto;
    padding: 50px 0;
}
.owl-carousel img {
    max-width: 385px;
    max-height: 513px;
    // object-fit: cover;
}

